# Runtime configurations
ALPHATRION_LOG_LEVEL=INFO

# Database configurations
ALPHATRION_METADATA_DB_URL=postgresql+psycopg2://alphatrion:alphatr1on@localhost:5432/alphatrion

# Artifact storage configurations
ALPHATRION_ENABLE_ARTIFACT_STORAGE=true
ALPHATRION_ARTIFACT_REGISTRY_URL=localhost:5001
ALPHATRION_ARTIFACT_INSECURE=false

# Tracing configurations
ALPHATRION_ENABLE_TRACING=true
ALPHATRION_CLICKHOUSE_ENABLE_BATCH=true

# Prometheus push gateway configurations
ALPHATRION_ENABLE_PROMETHEUS=false
ALPHATRION_PROMETHEUS_PUSHGATEWAY_URL=localhost:9091
ALPHATRION_PROMETHEUS_JOB_NAME=alphatrion
